.curiosidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curiosidades_titulo {
    font-family: 'Caudex', serif;
    font-weight: bold;
    color: var(--cor-quaternaria);
    font-size: 1.5rem;
}

.curiosidades_africa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.curiosidades_africa_txt {
    width: 45%;
    color: var(--cor-terciaria);
}

.curiosidades_africa_img img {
    width: 100%;
    
}

