.curiosidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 2vw;
}

.curiosidades_titulo {
    font-family: 'Caudex', serif;
    font-weight: bold;
    color: var(--cor-quaternaria);
    font-size: 2rem;
}

.curiosidades_africa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.curiosidades_africa_txt {
    width: 45%;
    color: var(--cor-terciaria);
}

.curiosidades_africa_img img {
    width: 100%;
    border-radius: 10px;
}

.curiosidades_polos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.curiosidades_polos_txt {
    width: 45%;
    color: var(--cor-terciaria);
}

.curiosidades_polos_img img {
    width: 100%;
    border-radius: 10px;
}

.curiosidades_tropical {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.curiosidades_tropical_txt {
    width: 45%;
    color: var(--cor-terciaria);
}

.curiosidades_tropical_img img {
    width: 100%;
    border-radius: 10px;
}


