
main {
    padding: 1px;
}

.telajogo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 10px solid rgb(45, 59, 39);
    margin: 3%;
    border-radius: 10px;
}

.telajogo1 p {
    color: var(--cor-quaternaria);
    text-align: justify;
    width: 20vw;
    opacity: 0%;
}

.mudacor {
    color: aqua;
}


.animal {
    cursor: pointer;
    width: 20vw;
}

/* CSS da esquerda*/

.bichos_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bichos_macaco {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bichos_javali {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bichos_pantera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* CSS da direita*/


.bichos_direita{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bichos_lobo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.bichos_leao{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.bichos_urso{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}


/*
Configurações Media Queries
*/

@media screen and (max-width: 480px){ 

    .logo img {
        width: 16vw;
    }

    .logo p {
        font-size: 1.5rem;
    }
    
    .botaomenu img {
        width: 7vw;
    }
    
    .bichos_macaco {
        flex-direction: column;
    }

    .bichos_lobo {
        flex-direction: column;
    }

    .bichos_urso {
        flex-direction: column;
    }

    .bichos_leao {
        flex-direction: column;
    }

    .bichos_javali {
        flex-direction: column;
    }

    .bichos_pantera {
        flex-direction: column;
    }

    .telajogo1 p {
        font-size: 0.85em;
        padding: 10% 0% 20% 0%;
        width: 35vw;
    }

    .logofooter img {
        width: 11vw;
    }

    .logofooter p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 912px) {

    .logo img {
        width: 10vw;
    }

    .logo p {
        font-size: 2.5rem;
    }
    
    .botaomenu img {
        width: 6vw;
    }

    .bichos_macaco {
        flex-direction: column;
    }

    .bichos_lobo {
        flex-direction: column;
    }

    .bichos_urso {
        flex-direction: column;
    }

    .bichos_leao {
        flex-direction: column;
    }

    .bichos_javali {
        flex-direction: column;
    }

    .bichos_pantera {
        flex-direction: column;
    }

    .telajogo1 p {
        font-size: 1em;
        padding: 10% 0% 20% 0%;
        width: 35vw;
    }

    .logofooter img {
        width: 11vw;
    }

    .logofooter p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 913px) and (max-width: 1280px) {



    .logo img {
        width: 10vw;
    }

    .logo p {
        font-size: 2.6rem;
    }
    
    .botaomenu img {
        width: 4vw;
    }

    .bichos_macaco {
        flex-direction: column;
    }

    .bichos_lobo {
        flex-direction: column;
    }

    .bichos_urso {
        flex-direction: column;
    }

    .bichos_leao {
        flex-direction: column;
    }

    .bichos_javali {
        flex-direction: column;
    }

    .bichos_pantera {
        flex-direction: column;
    }

    .telajogo1 p {
        font-size: 1.2em;
        padding: 10% 0% 20% 0%;
        width: 35vw;
    }

    .logofooter img {
        width: 8vw;
    }

    .logofooter p {
        font-size: 2rem;
    }
}