.jogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 2vw;
    color: var(--cor-quaternaria);
}

.jogos_titulo {
    font-family: 'Caudex', serif;
    font-weight: bold;
    color: var(--cor-quaternaria);
    font-size: 2rem;
}


.jogo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.jogo1_txt {
    width: 45%;
    font-size: 1.2rem;
    text-align: justify;
}

.jogo1_txt h2 {
    text-align: center;
    padding-bottom: 10%;
    font-size: 1.4rem;
}

.jogo1_img img {
    width: 100%;
    border-radius: 10px;
}

.jogo2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.jogo2_txt {
    width: 45%;
    font-size: 1.2rem;
    text-align: justify;
}

.jogo2_txt h2 {
    text-align: center;
    padding-bottom: 10%;
    font-size: 1.4rem;
}

.jogo2_img img {
    width: 100%;
    border-radius: 10px;
}

/*
Configurações Media Queries
*/

@media screen and (max-width: 480px){ 

    .logo img {
        width: 16vw;
    }

    .logo p {
        font-size: 1.5rem;
    }
    
    .botaomenu img {
        width: 7vw;
    }
    
    .jogo1 {
        flex-direction: column
    }

    .jogo1_txt {
        width: 86%;
        padding-bottom: 10%;
    }

    .jogo2 {
        flex-direction: column
    }

    .jogo2_txt {
        width: 85%;
        padding-bottom: 10%;
    }

    .logofooter img {
        width: 11vw;
    }

    .logofooter p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 912px) {

    .jogos {
        padding: 10% 10% 20% 10%;
    }

    .logo img {
        width: 10vw;
    }

    .logo p {
        font-size: 2.5rem;
    }
    
    .botaomenu img {
        width: 6vw;
    }

    .logofooter img {
        width: 11vw;
    }

    .logofooter p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 913px) and (max-width: 1280px) {



    .logo img {
        width: 10vw;
    }

    .logo p {
        font-size: 2.6rem;
    }
    
    .botaomenu img {
        width: 4vw;
    }

    .aprofundese_cerrado_img {
        width: ;
    }

    .aprofundese_cerrado_txt {
        width: ;
    }

    .logofooter img {
        width: 8vw;
    }

    .logofooter p {
        font-size: 2rem;
    }
}