
main {
    padding: 1px;
}

.telajogo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 10px solid rgb(45, 59, 39);
    margin: 3%;
    border-radius: 10px;
}

.telajogo1 p {
    color: var(--cor-quaternaria);
    text-align: justify;
    width: 20vw;
}


.animal {
    cursor: pointer;
    width: 20vw;
}

/* CSS da esquerda*/

.bichos_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bichos_macaco {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bichos_javali {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bichos_pantera {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* CSS da direita*/


.bichos_direita{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bichos_lobo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.bichos_leao{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.bichos_urso{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
