.jogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 2vw;
}

.jogos_titulo {
    font-family: 'Caudex', serif;
    font-weight: bold;
    color: var(--cor-quaternaria);
    font-size: 2rem;
}

.jogo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.jogo1_txt {
    width: 45%;
    color: var(--cor-terciaria);
    font-size: 1.2rem;
}

.jogo1_txt h2 {
    text-align: center;
    padding-bottom: 10%;
    font-size: 1.4rem;
}

.jogo1_img img {
    width: 100%;
    border-radius: 10px;
}